[Unit]
Description=Run UiO non-web scanner every 6 hours

[Timer]
OnBootSec=10m
OnUnitActiveSec=6h
Persistent=true
RandomizedDelaySec=5m
Unit=nonweb-scan.service

[Install]
WantedBy=timers.target
